.project
{
    height: 40rem;
    width:100vw;
    background-color: rgb(13,13,13);
}

.headingprojects
{
    text-align: center;
    font-size: 1.8rem;
    
}

.project1
{
    margin-top: 7rem;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
}

.box1
{
    height: 25rem;
    width: 24vw;
    border: 2px solid white;
    background-color: white;
    border-radius: 2rem;
    
}
.androiddev
{
    color: black;
}