
.Skills
{
    font-size: 2rem;
    
    height: 30rem;
    background-color:rgb(13,13,13)
    
    
}
.Skilllogos
{
    display: flex;
}
.heading
{
    text-align: center;
    margin-bottom: 3rem;
}
.img
{
    height: 20rem;
    width: 23.5rem;
}
